<script type="text/template" id="modalContentsTemplate">

<!-- projectName	projectDescription2016	projectDescription2019	totalBudget2016	estimatedCompletionDate2016	totalBudget2019	estimatedCompletionDate2019	mostRecentBudget	peakBudget	hasComparisonBudgets	hasComparisonDates	budgetDelta	budgetDeltaPercentage	datesDeltaYear	estimatedStatus
 -->

<!-- deptAcronym	shortcode	uniqueId	department	latestProjectName	latestDescription	originalBudget	latestBudget	originalBudgetSource	latestBudgetSource	originalEstimatedCompletionDate	latestEstimatedCompletionDate	originalEstimatedCompletionDateSource	latestEstimatedCompletionDateSource	budgetDelta	budgetDeltaPercentage	datesDelta	numOfEntries	estimatedStatus	isOver10M	isOver100M -->

<table class="table table-striped">
  <tbody>

    <% if(_.get(item, 'projectName')) { %>
      <tr>
        <th style="min-width: 12rem">Project Name</th>
        <td><%- item.projectName %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'latestProjectName')) { %>
      <tr>
        <th style="min-width: 12rem">Project Name</th>
        <td><%- item.latestProjectName %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'department')) { %>
      <tr>
        <th>Department</th>
        <td><%- item.department %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'latestDescription')) { %>
      <tr>
        <th>Latest Project Description</th>
        <td><%- item.latestDescription %></td>
      </tr>
    <% } %>

    <% if(_.get(item, 'originalBudget')) { %>
      <tr>
        <th>Original Budget (<%- item.originalBudgetSource %>)</th>
        <td><%- item.originalBudget %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'latestBudget')) { %>
      <tr>
        <th>Latest Budget (<%- item.latestBudgetSource %>)</th>
        <td><%- item.latestBudget %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'budgetDelta')) { %>
      <tr>
        <th>Change in Budget</th>
        <td><%- item.budgetDelta %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'budgetDeltaPercentage')) { %>
      <tr>
        <th>% Change in Budget</th>
        <td><%- item.budgetDeltaPercentage %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'originalEstimatedCompletionDate')) { %>
      <tr>
        <th>Original Estimated Completion Date (<%- item.originalEstimatedCompletionDateSource %>)</th>
        <td><%- item.originalEstimatedCompletionDate %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'latestEstimatedCompletionDate')) { %>
      <tr>
        <th>Latest Estimated Completion Date (<%- item.latestEstimatedCompletionDateSource %>)</th>
        <td><%- item.latestEstimatedCompletionDate %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'datesDeltaYear')) { %>
      <tr>
        <th>Change in Completion Date</th>
        <td><%- item.datesDeltaYear %> years</td>
      </tr>
    <% } %>
    <% if(_.get(item, 'estimatedStatus')) { %>
      <tr>
        <th>Estimated Status</th>
        <td><%- item.estimatedStatus %></td>
      </tr>
    <% } %>

    <% if(_.get(item, 'description')) { %>
      <tr>
        <th>Project Description</th>
        <td><%- item.description %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'totalBudget')) { %>
      <tr>
        <th>Budget</th>
        <td><%- item.totalBudget %></td>
      </tr>
    <% } %>
    <% if(_.get(item, 'estimatedCompletionDate') || _.get(item, 'rawProvidedDate')) { %>
      <tr>
        <th>Estimated Completion Date</th>
        <td>
          <% if(_.get(item, 'estimatedCompletionDate')) { %>
          <%- item.estimatedCompletionDate %>
          <% } else { %>
            <em><%- item.rawProvidedDate %></em>
          <% } %>
        </td>
      </tr>
    <% } %>
    <% if(_.get(item, 'yearsRemaining')) { %>
      <tr>
        <th>Years Remaining as of <%- _.get(item, 'asOfDate') %></th>
        <td><%- item.yearsRemaining %></td>
      </tr>
    <% } %>
    

  </tbody>
</table>

  


</script>
