<script type="text/template" id="modalContentsTemplate">

<!-- projectName	projectDescription2016	projectDescription2019	totalBudget2016	estimatedCompletionDate2016	totalBudget2019	estimatedCompletionDate2019	mostRecentBudget	peakBudget	hasComparisonBudgets	hasComparisonDates	budgetDelta	budgetDeltaPercentage	datesDeltaYear	estimatedStatus
 -->

<table class="table table-striped">
  <tbody>

    <% if(_.isEmpty(projectName) === false) { %>
      <tr>
        <th style="min-width: 12rem">Project Name</th>
        <td><%- projectName %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(department) === false) { %>
      <tr>
        <th>Department</th>
        <td><%- department %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(projectDescription2016) === false) { %>
      <tr>
        <th>2016 Project Description</th>
        <td><%- projectDescription2016 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(projectDescription2019) === false) { %>
      <tr>
        <th>2019 Project Description</th>
        <td><%- projectDescription2019 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(totalBudget2016) === false) { %>
      <tr>
        <th>2016 Budget</th>
        <td><%- totalBudget2016 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(totalBudget2019) === false) { %>
      <tr>
        <th>2019 Budget</th>
        <td><%- totalBudget2019 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(budgetDelta) === false) { %>
      <tr>
        <th>Change in Budget</th>
        <td><%- budgetDelta %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(budgetDeltaPercentage) === false) { %>
      <tr>
        <th>% Change in Budget</th>
        <td><%- budgetDeltaPercentage %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(estimatedCompletionDate2016) === false) { %>
      <tr>
        <th>2016 Estimated Completion Date</th>
        <td><%- estimatedCompletionDate2016 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(estimatedCompletionDate2019) === false) { %>
      <tr>
        <th>2019 Estimated Completion Date</th>
        <td><%- estimatedCompletionDate2019 %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(datesDeltaYear) === false) { %>
      <tr>
        <th>Change in completion date (years)</th>
        <td><%- datesDeltaYear %></td>
      </tr>
    <% } %>
    <% if(_.isEmpty(estimatedStatus) === false) { %>
      <tr>
        <th>Estimated status</th>
        <td><%- estimatedStatus %></td>
      </tr>
    <% } %>

  </tbody>
</table>

  


</script>
